.reveal p,
.reveal ul {
/*  margin: 20px 0;
  line-height: 1.3;*/
  text-align: left;
  padding: 0 50px;
  font-size: 30px;
  letter-spacing: .25px;
}

.reveal pre {
  width: 100%;
  font-size: 0.40em;
}

.reveal pre code {
  padding: 10px 15px;
}

.link {
  font-size: 3px;
}
